html, body, div, img, a, ol, ul, li, table, caption, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #111 url(../img/bg_main.png);
	font-family: Helvetica, sans-serif;
	color: #ddd;
	font-size: 14px;
}

#header {
	height: 48px;
	background: #211710 url(../img/bg_top.png);
}

#header_container {
	width: 800px;
	margin: auto;
}

#logo {
	float: left;
	width: 248px;
	height: 48px;
	background: url(../img/logo.png);
	display: block;
}

#nav {
	list-style-type: none;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 0 0;
	float: right;
}

#nav li {
	float: left;
	margin-left: 25px;
}

#content {
	width: 800px;
	margin: auto;
	margin-top: 50px;
}

a:link, a:visited {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.active:link, .active:visited {
	color: #fff;
}

table {
	border: 1px solid #ddd;
	caption-side: bottom;
	border-collapse: collapse;
}

caption {
	margin-top: 10px;
	font-style: italic;
}

td, th {
	border: 1px solid #ddd;
	padding: 10px;
}

th {
	font-size: 20px;
	text-decoration: underline;
}

img {
	margin-bottom: 30px;
}